ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d4e4e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #c2b1b1;
}



.dropdown {
  position: relative;
  padding-bottom: 20px;
  min-width: 130px;
}

.dropdown-inhoud {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #252540;
  border-radius: 8px;
  padding: 6px 0;
  min-width: 130px;
  flex-direction: column;
}

.dropdown:hover .dropdown-inhoud {
  display: flex;
}

.dropdown-inhoud li a {
  display: block;
  padding: 8px 16px;
  color: #DADAE8;
}